.question {
    font-family: Korinna;
    color: white;
    text-shadow: 1px 3px 5px black;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.buzzer {
    height: 100%;
    width: 100%;
    font-size: 15vw;
}

#container {
    height: 100%;
    width: 100%;
    background-color: red;
}