<div *ngIf="ready">
    <div *ngIf="game">
      <div *ngIf="myTurn && !buzzermode && buzzedInPlayer.length<1">
      <div *ngIf="questions.length<1"> 
        <div *ngFor="let category of game">
          <button type="buton" class="btn btn-primary col-12" (click)="choose(category)">{{category.name}}</button><br>
        </div>
      </div>
      <div *ngIf="questions.length>0">
        <div *ngFor="let question of questions">
          <button type="buton" class="btn btn-primary col-12" (click)="valueChosen(question)"><span *ngIf="!question.asked">{{question.value | currency:'USD':true:'3.0-0'}}</span><span *ngIf="question.asked">Question Asked!</span></button><br>
        </div>
      </div>
      </div>
    </div>
<div *ngIf="!game">
  <h1 class="question text-center">Waiting for game to start</h1>
</div>
</div>
<div *ngIf="!ready">
  <h1 class="question text-center">Waiting for other Players!</h1>
</div>
<div *ngIf="buzzermode && canAnswer" id="container" class="row">
  <button type="button" class="buzzer btn btn-primary" (click)="buzzin()">Buzz In!</button>
</div>
<div *ngIf="!myTurn && ready && !buzzermode && canAnswer">
  <h1 class="question text-center">Not your turn!</h1>
</div>
<div *ngIf="!canAnswer && buzzedInPlayer.length<1">
  <h1 class="question text-center">You've already buzzed in!</h1>
</div>
<div *ngIf="buzzedInPlayer.length>0">
  <h1 class="question text-center">{{buzzedInPlayer}} Buzzed In!</h1>
</div>
  <!--<p>buzzer mode: {{buzzermode}}</p>
  <p>my turn: {{myTurn}}</p>
  <p>ready: {{ready}} </p>
  <p>buzzed in player: {{buzzedInPlayer}} </p>
  <p>can answer?: {{canAnswer}} </p>-->