<h1 class="question text-center">Trebek View</h1>
<h1 class="question text-center" (click)="resetServer()">Reset Server</h1>
<div class="container" style="margin-top: 70%" *ngIf="!ready">
  <h1 class="question text-center">{{numberPlayers}} players waiting</h1>
  <h1 class="question text-center" *ngIf="numberPlayers>=2" (click)="trebekready()">Ready to start?</h1>
</div>
<div class="container" *ngIf="ready && buzzedInPlayer.length<1">
  <!--buzzer mode{{buzzerMode}} bip {{buzzedInPlayer}} {{questions | json}}-->
    <div *ngIf="game">
      <div *ngIf="!buzzerMode && !DJMode&& buzzedInPlayer.length<1">
      <div *ngIf="questions.length<1"> 
        <div *ngFor="let category of game">
          <button type="buton" class="btn btn-primary col-12" (click)="choose(category)">{{category.name | uppercase}}</button><br>
        </div>
      </div>
      <div *ngIf="questions.length>0">
        <h3 class="question text-center" (click)="goback()">GO BACK?</h3>
        <div *ngFor="let question of questions; let i = index">
          <button type="buton" class="btn btn-primary col-12" (click)="valueChosen(question,(i+1)*100)" [disabled]="question.asked"><span *ngIf="!question.asked">{{(i+1)*100 | currency:'USD':true:'3.0-0'}}</span><span *ngIf="question.asked">Question Asked!</span></button><br>
        </div>
      </div>
      </div>
    </div>
  <br><h1 class="question text-center" *ngIf="answer.length>1">{{answer | uppercase}}</h1><br><br>
  <h1 class="question text-center">{{playerTurn | uppercase}}'s turn</h1>
  <h1 class="question text-center" *ngIf="DJMode">DOUBLE JEOPARDY</h1>
  <h1 class="question text-center" (click)="giveUp()" *ngIf="buzzerMode">Give Up?</h1>
</div>

<div class="container" *ngIf="ready && buzzedInPlayer.length>0">
  <br><h1 class="question text-center">{{answer}}</h1><br><br>
  <h1 class="question text-center">{{buzzedInPlayer}} buzzed In!</h1>
  <h1 class="question text-center" (click)="correct()">Correct Answer?</h1>
  <h1 class="question text-center" (click)="incorrect()">Incorrect Answer?</h1>
</div>
<!--<p class="question"># players {{numberPlayers}}</p>
<p class="question">players {{players | json}}</p>-->
