/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Korinna;
    src: url(./assets/Korinna.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Jeopardy;
    src: url(./assets/gyparody.heavy.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Gameboard;
    src: url(./assets/Swiss911BT-Compressed.otf);
    font-weight: bold;
}

* {
    font-family: Korinna;
}

body {
    background-color: #070CEC
}

html, body {
    height:100%;
    width: 100%;
}